<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>menu</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="bluetooth" slot="start"></ion-icon> Connect Canon
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getInfo()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-button [routerLink]="['bluetooth']"> 
    
    <ion-icon name="bluetooth" slot="start"></ion-icon> Connect Canon
  </ion-button>

 


  <!-- <pre>
    bluetooth: {{ bluetoothConnection}}
    socket: {{socketConnection}}
    gameData: {{activeGame | json}}
  </pre> -->
  <ion-card *ngIf="!socketConnection">
    <ion-card-header>
      <ion-title>
        Server Connection ERROR
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Unable to connect to the server. Please check your connection and try again.
      </p>
      <ion-button (click)="getInfo()" expand="fill">Check Again</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="socketConnection && !activeGame.isConnected">
    <ion-card-header>
      <ion-title>
        Not Connected to a Game
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label slot="start">
          Enter Game Code:
        </ion-label>
        
        <ion-input #gameCodeInput></ion-input>
      </ion-item>
        <ion-button expand="full" (click)="connect(gameCodeInput.value)">Join Game</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="socketConnection && activeGame.isConnected">
    <ion-card-header>
      <ion-title>
        Game Information
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Game Name:
          </ion-label>
          <ion-label slot="end">{{activeGame.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Game Code:
          </ion-label>
          <ion-label slot="end">{{activeGame.gameCode}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Player Count:
          </ion-label>
          <ion-label slot="end">{{activeGame.playerCount}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="disconnect()">Leave Game</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Theme Selector</ion-title>
    </ion-card-header>
    <ion-grid>
      <ion-col>
        <ion-button (click)="loadTheme('red')"> 
          <ion-icon name="bluetooth" slot="start"></ion-icon> Red Theme
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="loadTheme('purple')"> 
    
          <ion-icon name="bluetooth" slot="start"></ion-icon> Purple Theme
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="loadTheme('cyan')"> 
    
          <ion-icon name="bluetooth" slot="start"></ion-icon> Cyan Theme
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="loadTheme('green')"> 
    
          <ion-icon name="bluetooth" slot="start"></ion-icon> Cyan Theme
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="loadTheme('silver')"> 
    
          <ion-icon name="bluetooth" slot="start"></ion-icon> Cyan Theme
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="loadTheme('gold')"> 
    
          <ion-icon name="bluetooth" slot="start"></ion-icon> Cyan Theme
        </ion-button>
      </ion-col>
    </ion-grid>
  </ion-card>

</ion-content>
