<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="runInBackground()">
        Hide
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-button (click)="connectToGame()"><ion-icon name="link-outline" ></ion-icon></ion-button>
  
  <ion-list>
    <ion-item button *ngFor="let item of scanResults" (click)="connectToDevice(item)"><pre>{{item | json}}</pre></ion-item>
  </ion-list>
  <pre>{{info | json}}</pre >
</ion-content>
    